body{
    margin: 0;
}
#actions {
    display: flex;
    float: right;
    padding: 10px;
}

#actions .item {
    margin-left:22px;
}

#banner{
    width: 80%%;
        background-image: url("https://file.hstatic.net/1000321269/file/untitled-1_40cc558d8ee648baa88e70e2d8d4adf7.png ");
        height: 600px; 
        margin-top: 40px;
        display: flex;
        padding: 0px 133px;
        position: relative;
}
.boxtop{
    float: left;
    width: 100%;
    background-color: #333;
    height: 50px;
}
.boxlogo{
    float: left;
    width: 100%;
    height: 140px;
    text-align: center;
    border-bottom: 1px #ccc solid;
    padding top:    20px;
    
}
.boxmenu{
    float: left;
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: 20px;
padding top: 10px;
}
article{
width: 100%;
min-height: 500px;
float: left;
margin-top: 20px;
margin-bottom: 20px;
}
footer{
    float: left;
    width: 100%;
    background-color: #333;
    height: auto;
}
.boxcenter{
    width: 70%;
    margin: 0px auto;
    


}
.boxtopleft{
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
}
.boxtopright{
    float: right;
    height: 50px;
    line-height: 50px;

}
.boxtopright a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
.boxpro{
    float: left;
    width: 25%;
    margin-bottom: 100px;
margin-left: 55px;
}
.boximg{
    float: left;
    width: 25%%;
}
.boximg img{
    width: 100%;
}
.boxpro a{
    color: #333;
    text-decoration: none;
}
.boxpro a:hover{
    color: blue;
}
ul{ margin: 0px;
padding: 0px;
}
ul li{
   float: left;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 15px;
    list-style-type: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
ul li ul{
    display: none;
    background-color: white;
    
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
ul li:hover ul {
    display: block ;
    position :absolute;
    float: none;
}
ul li ul li{
    float: none;
    border-bottom:  1px #ccc solid;
    border-left :1px #ccc solid;
    border-right: 1px #ccc solid;
    padding: 10px 20px;
}
ul li ul li:first-child{
    border-top: 1px #ccc solid;
}
.row{
    float: left;
    width: 100%;
    margin-bottom: 20px;

}
.boxcenter2{
    width: 50%;
    margin: 0px auto;
    color: white;
}
.boxfooter{
    width: 23%;
    float: left;
    margin-right: 2%;
}
.boxfooter1{
    width: 23%;
    float: left;
    margin-right: 2%;
}
.boxfooter2{
    width: 45%;
    float: left;
    margin-left: 5%;
   
}
.text{
    text-align: center;
    color: wheat;
}
footer a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.boxpro button{
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    border: none;
    padding: 0px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.boxpro button:hover{
    background-color: red;
}






.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;

}
.cart h2{
    margin-bottom: 30px;

}
.cart table{
    width: 100%;

}
.cart table thead tr th:first-child{
    text-align: left;
}
.cart table tr td {
    border-bottom: 1opx solid #ddd;
    padding:12px 0;
     
}
.cart table thead tr th:last-child{
    text-align: right
    ;
}
.cart table tbody tr td:last-child{
    text-align: right;
} 



.cart{
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    background-color:white;
    padding: 12px 20px;
    overflow-y:scroll ;
    right: -100%;
    transition: all 0.3s ease;
}
.cart button{
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    border: none;
    padding: 0px 20px;
    border-radius: 5px;
  background-color: rgb(185, 18, 18);
 

}
.cart i{
    cursor: pointer;
    margin-bottom: 30px;

}
.ca i{
    cursor: pointer;
}
.anhh{
    float: left;

}